/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  min-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #747474; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 2rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
/*@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}
*/
p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #61bc47; }
a:hover {
  color: #217808; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
 /* font-size: 11px;*/
  /*font-weight: 600;*/
  line-height: 38px;
/*  letter-spacing: .1rem;*/
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 0px;
  border: 1px solid #848484;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #00a43f;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #00a43f; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #848484;
  border-radius: 0px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #00a43f;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


/*Меню*/

.nav__main {
  background-color: black;
}

.nav__main__logo {
  margin: 35px 0px;
}

.nav__main__menu {text-align: right; padding-top:45px;}

.nav__main__menu a {
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin-left:35px;
}

/*Статус строка*/

.statusbar {
  background-color: #3d4b58;
  padding: 35px 100px;
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.statusbar--ralign {text-align: right;}


/*Меню слева*/

.nav__side a {
  display: block;
  text-transform: uppercase;
  color: #747474;
  padding: 20px 0px 20px 0px;
  text-decoration: none;
  border-bottom: 1px solid #3c3c3b;
}

.nav__side--active {color:#46892d !important;}

.nav--rborder {
  border-right: 1px solid #3c3c3b;
}


/*Регистрация*/


.register {text-align: center;}

.register h1 {
  position: relative;
  margin:auto;
  text-transform: uppercase;
  border-bottom: 1px solid #545454;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px 40px 10px 40px;
  width: 160px;
}


#register__form {width: 350px; display: inline-block;}

#register__form input:not([type=submit]) {
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   padding: 12px 0px;
   padding-bottom: 0px;
   width: 350px;
   display: inline-block;
}

#register__form input[type=submit] {margin-top: 20px;}

.register_input::-webkit-input-placeholder  { color: #747474; text-transform: uppercase; }
.register_input:-moz-placeholder            { color: #747474; text-transform: uppercase; }
.register_input::-moz-placeholder           { color: #747474; text-transform: uppercase; }
.register_input:-ms-input-placeholder       { color: #747474; text-transform: uppercase; }


/*Личный кабинет*/

.account {margin-top:30px; text-align: center;}

.account h1 {
  margin-bottom: 20px;
}

.balance__counter {
  margin: auto;
  width:  115px;
  height: 115px;
  background-image: url(../images/1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  font-size: 1.6rem;
  padding-top: 45px;
  box-sizing: border-box;
  margin-bottom: 35px;
}

#account__form {width: 350px; display: inline-block;}

#account__form input:not([type=submit]) {
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   padding: 12px 0px;
   padding-bottom: 0px;
   width: 80%;
   display: inline-block;
}

#account__form input[type=submit] {margin-top: 20px;}

.account_input::-webkit-input-placeholder  { color: #747474; text-transform: uppercase; }
.account_input:-moz-placeholder            { color: #747474; text-transform: uppercase; }
.account_input::-moz-placeholder           { color: #747474; text-transform: uppercase; }
.account_input:-ms-input-placeholder       { color: #747474; text-transform: uppercase; }

.h1--margintop {margin-top: 35px;}

.account p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 1.6rem;
}

.account__news__a {
  text-decoration: none;
}


/*Тарифы*/

.tarifs {
  text-align: center;

}

.tarifs h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.tarifs__table { width: 100%; }

.tarifs__table thead { 
  color: white;
  background-color: #d1d1d1;
  font-size: 1.2rem;
}

.tarifs__table tbody {
  border: 1px solid gray;
  border-top: 0px;
}

.tarifs__table tbody td {
  border: 1px solid gray;
}

.tarifs__table .button {
  font-size: 1.2rem;
  height: 28px;
  padding: 0 10px;
  margin: 0;
  line-height: 28px;
}

.tarifs__table td {
  text-align: center;
  position: relative;
  padding: 12px 0px;
  width: 33%;
  
}

.bgcolor--green {
  background-color: #71bf45 !important;
}

.price {
  margin: auto;
  display: block;
  color: #71bf45;
  font-size: 3rem;
  clear: both;
  position: relative;
  left:10px;
}

.price__ru {
  color: #737373;
}

.price__ru- {
  color: #737373;
  position: relative;
  left: -20px;
  top: 3px;
}

.price__under {
  font-size: 1rem;
  position: relative;
  top: -15px;
  /*left: 30px;*/
}


/* телефонная книга */

.phonebook {text-align: center;}

.phonebook h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.phonebook__list {
  margin: auto;
  margin-bottom: 30px;
  border: 3px solid #50b948;
  width: 70%;
  padding: 15px;
}

.phonebook__list li {
  position: relative;
  display: inline-block;
  margin: 5px;
  padding-left: 30px;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.phonebook__list li:before {
  content: " ";
  position: absolute;
  right: 30px;
  top: 4px;
  min-width: 27px;
  height: 12px;
  background-image: url('../images/object01.svg');
  background-size: 25px;
  background-repeat: no-repeat;
}

.phonebook__loadbtn {
  background: -webkit-linear-gradient (left, #8ac63f, #139a45, #8ac63f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #8ac63f, #139a45, #8ac63f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #8ac63f, #139a45, #8ac63f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #8ac63f, #139a45, #8ac63f); /* Standard syntax */
  color: white;
  height: auto;
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 4px 10px;
  border-radius: 6px;
  box-sizing:box;
  border: 2px solid white;
  box-shadow: 0px 0px 0px 2px #888888;
  position: relative;
  right: -28%;
}

.phonebook__loadbtn:hover {
  color: white;
  border: 2px solid white;
  box-shadow: 0px 0px 0px 2px #139a45;
}

.phonebook__buy {
  background-color: #2caae3;
  width: 140px;
  min-height: 140px;
  color: white;
  height: auto;
  line-height: 1.6rem;
  padding: 40px 10px;
  border-radius: 70px;

  box-sizing:border-box;
  border: 4px solid white;
  box-shadow: 0px 0px 0px 4px #139a45;

}

.phonebook__buy:hover {
  color: white;
  border: 4px solid white;
  box-shadow: 0px 0px 0px 4px #139a45;

}

/*статистика*/

.statistics { padding: 0px;}

.statistics h2 {
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-bottom: 15px;
}

.statistics p {
  font-size: 1.2rem;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.align--right {text-align: right !important; padding:0px; margin:0px;}

.table__status {
  margin: auto;
  margin-right: 0px;
  border: 1px solid gray;
  margin-top: 30px;
  width: 210px;
}

.table__status td {
  font-size: 1.2rem;
  text-align: center;
  padding: 5px 0px;
  text-transform: uppercase;
  border-bottom: 1px solid gray;
}



.table__status tbody td {
  border-right: 1px solid gray;
}

.statistics__filter {
  border: 1px solid gray;
  margin: 20px 0px 20px 0px;
  padding:10px;
  font-size: 1.2rem;
  width: 100%;
  box-sizing:border-box;
}

.statistics__filter label,
.statistics__filter input {
  display: inline-block;
  font-weight: 300;
  margin: 0px;
}

.statistics__filter input:not([type="submit"]) {
  width: 110px;
}

.statistics__filter input[type="submit"] {
  padding: 5px;
  height: 25px;
  width: auto;
  font-size: 1.1rem;
  line-height: 1.2rem;
  float: right;
  margin-left: 10px;
}

.statistics__table {
  font-size: 1.2rem;
  width: 100%;
  margin: 20px 0px 20px 0px;
  box-sizing:border-box;
}

.statistics__table tbody {
  border: 1px solid gray;
}

.statistics__table td {
  text-align: center;
  border-bottom: 0px;
  padding: 5px;
}

.statistics__table tbody td {
  border-right: 1px solid gray;
}

.statistics__table a {
  padding: 5px;
  height: 25px;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin: 0px;
}

/*паджинатор*/

.paginator a {
  display: inline-block;
  text-decoration: none;
  color: gray;
  width:  24px;
  height: 24px;
  border: 1px solid gray;
  border-radius: 14px;
  text-align: center;
}

.page {
  background-color: #3fab33;
  border: 1px solid #3fab33 !important;
  color: white  !important;
}
.paginator form {
  display: inline-block;
}

.paginator form select {
  display: inline-block;
  height: 26px;
  padding: 0px;
  margin: 0px;
}

/*Базы номеров*/

.phonebase { text-align: center;}

.phonebase h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.h1__phone {
  width: 29px;
  padding: 8px 18px;
  border: 1px solid gray;
  border-radius: 18px;
  display: inline-block;
  position: relative;
  top: 8px;
  margin-right: 25px;
}

.logo {
  width: 125px;
  color: white;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 48px 0px;
  border-radius: 80px;
  cursor:pointer;
  position: relative;
}

.logo--dgreen { background-color: #1f8721; }
.logo--purple { background-color: #7d529e; }
.logo--green  { background-color: #06bc0a; }
.logo--blues  { background-color: #2caae3; }


#form_bases input[type="checkbox"] {
    display:none;

}
#form_bases input[type="checkbox"] + label span {
  border: 1px solid gray;
  display:inline-block;
  width:19px;
  height:19px; 
  position: absolute;
  right: 0px;
  bottom: -20px;
  vertical-align:middle;
  cursor:pointer;
}
#form_bases input[type="checkbox"]:checked + label span {
  background:url(../images/checked.jpg) top no-repeat;
  background-size: 100%;
}

.phonebase__total {
  display: inline-block;
  padding: 5px 15px;
  margin-top: 35px;
  margin-bottom: 25px;
  border: 1px solid gray;
}

#form_bases input[type="submit"] {
  position: relative;
  border: 2px solid gray;
  border-radius: 70px;
  padding: 10px 35px;
  height: auto;
  width: auto;
  margin-top: 35px;
  margin-bottom: 25px;  
}

.spark {
  padding: 40px 46px;
  background:url(../images/spark.jpg) top no-repeat;
}

.progress {
  text-align: center;
  position: relative;

}

.progress__mask {width: 605px; margin: auto;}

.progress__percent {
  font-size: 1.2rem;
  position: absolute;
  right: -30px;
}

.progress__bar {
  z-index: -1;
  position: relative;
  bottom: 25px;
  left: 0px;
  background-color: #4cb848;
  width: 40%;
  height: 19px;
}

/*статистика*/

.phone {
  width: 100%;
}

.statistics {
  padding-top: 35px;
}

.form__statistics label {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
}

.text--notransform {
  text-transform: none;
}

.form__statistics select,
.form__statistics label,
.form__statistics textarea {
  height: 25px;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.form__statistics select {
  padding: 0px;
}

.form__statistics textarea {
  width: 100%;

}

textarea[name="phones"] {
  margin-top:15px;
  height: 250px;
}

.statistics__blacklist {
  font-size: 1rem;
  line-height: 1.2rem;
  position: relative;
  top: -10px;
  left: 80%;
  height: auto;
  width: auto;
  padding: 3px;
}

.form__statistics input[type="submit"] {
  background-color: #43b74a;
  color: white;
  border: 0px;
  float: right;
  font-size: 1.2rem;
}

/*Телефон*/

.msgphone {
  width: 285px;
  height: 570px;
  padding: 83px 26px 81px 31px;
  background: url(../images/telefon.png) top no-repeat;
  margin: 10px;
  box-sizing:border-box;
}

.msgphone__content {
/*  position: relative;
  bottom:0px;*/
  margin: auto;
  background-color:#cbcbc8;
  width: 228px;
  height: 406px;
}

.msgphone__hdr {
  height: 48px;
  background-color: #5b5b5b;
  text-align: center;
  line-height: 48px;
}

.msgphone__logo {vertical-align: middle;}

.msgphone__form label,
.msgphone__form textarea,
.msgphone__form input {
  font-size: 1.4rem;
  font-weight: 300;
  display: inline-block;
  border: 0px;
  margin-bottom: 0px;
}

.msgphone__form input {width: 50%;}

.div__to {
  padding: 5px;
  height: auto;
  background-color: white;
}

.msgphone__form textarea {
  min-width: 100%; 
  width: 100%; 
  height: 200px;
}

.div__msg {
  background-color:#cbcbc8;
  padding: 5px;
}

.msgphone__form input[type="submit"] {
  background-color: #43b749;
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding: 2px 10px;
  margin-top:10px;
  color: white;
  float: right;
}